
.template{
  padding: 32px;
  .at-input{
    margin-left: 0px;
  }
  .title{
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #181C28;
    padding-top: 12px;
    width: 140px;
  }
  .textarea{
    padding-left: 140px;
    border: none;
  }
  .at-input__title{
    width: 140px;
  }

  .at-input{
    margin-left: 0px;
  }
  .sub-title{
    margin-bottom: 32px;
    .man-title{
      font-family: PingFangSC-Medium;
      font-size: 40px;
      color: #181C28;
    }
  }
  .option{
    position: fixed;
    bottom: 200px;
    width: 686px;
    left: 32px;
  }
  .at-grid{
    background-image: linear-gradient(-135deg, #484B5B, #2C2D35);
    border-radius: 16px;
    .content-inner__text{
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #C7CAD4;
    }
  }
}

.create-page{
  background: #f5f5f5;
  .panel{
    margin-bottom: 100px;

  }
}
.footer{
  display: flex;
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0px;
  color: #ffffff;
  background: #4283F4;
  align-items: center;
  .btn{
    flex: 1;
    text-align: center;
  }
}
