
.create-page{
  padding: 32px;
  .panel{
    margin-bottom: 100px;
    .title{
      font-family: PingFangSC-Medium;
      font-size: 40px;
      color: #181C28;

    }
    .at-input{
      margin-left: 0px;
    }
    .sub-title{
      margin-bottom: 32px;
    }
    .container{
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .title{
        margin-right:16px;
        width:172px;
        font-size:32px;
        line-height:1.5;
        vertical-align:middle;
        text-align:left;
        color:#333;
      }
      .textarea{
        width: 550px;
      }
    }
  }
}
.footer{
  display: flex;
  position: fixed;
  height: 100px;
  width: 100%;
  bottom: 0px;
  color: #ffffff;
  background: #4283F4;
  align-items: center;
  .btn{
    flex: 1;
    text-align: center;
  }
}
